<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cross-Chain Transfer</title>
    <link rel="stylesheet" href="../resources/css/crosschainView.css">
    <script src="../resources/js/web3.js"></script>
</head>

<body>
    <div class="container">
        <h2>General Cross-Chain Transfer</h2>
        <button id="connectWallet">Connect MetaMask</button>
        <input type="text" id="symbol" placeholder="Symbol (e.g. GETH)">
        <input type="text" id="toChainID" placeholder="toChainID (e.g. 4)">
        <input type="text" id="to" placeholder="to Address (e.g. 0x...)">
        <input type="text" id="value" placeholder="Value in ETH (e.g. 0.01)">
        <button id="transact">Transact</button>
    </div>
    <script src="../resources/js/crosschainView.js"></script>
</body>

</html>