<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/index.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="top">

            <h3>跨链资产转移系统</h3>

            <a href="logout">退出</a>
        </div>
        <div class="bottom">
            <ul>
                <li><a href="FT" target="aa">同质化资产转移</a></li>
                <li><a href="NFT" target="aa">非同质化资产转移</a></li>
                <li><a href="user" target="aa">用户信息管理</a></li>
                <li><a href="record" target="aa">交易活动追踪</a></li>

            </ul>
            <iframe src="" frameborder="0" name="aa"></iframe>
        </div>
    </div>
</body>

</html>