<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>赎回 NFT</title>
    <link rel="stylesheet" href="./resources/css/reclaimNFT.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script>

</head>

<body>
    <div class="container">
        <h1 class="form-title">赎回 NFT</h1>
        <form id="redeemForm">
            <div class="form-group">
                <label for="tokenId">令牌ID (uint256)</label>
                <input type="text" id="tokenId" name="tokenId" required>
            </div>
            <button type="submit" class="submit-button">提交赎回</button>
        </form>
    </div>
    <script src="./resources/js/reclaimNFT.js"></script>
</body>

</html>