<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./resources/css/user.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="./resources/js/user.js" defer></script>
</head>

<body>
    <div class="container">
        <table border="1">
            <div class="top">
                <div class="search">
                    <input type="text" class="start" placeholder="请输入账户">
                    <input type="text" class="end" placeholder="请输入链id">
                    <input type="button" class="searchCondition" value="查找">
                </div>
                <div class="btn">
                    <input type="button" class="updatePassword" value="修改密码">
                    <input type="button" class="add" value="添加账户">
                </div>
            </div>
            <thead>
                <tr>
                    <th><input type="checkbox" class="checkAll"></th>
                    <th>ID</th>
                    <th>区块链id号</th>
                    <th>账户</th>
                    <th>更新时间</th>
                    <th width="90">操作</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>

</html>