<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Transfer Result</title>
    <link rel="stylesheet" href="../resources/css/viewToken.css">
    <script src="../resources/js/web3.js"></script>
</head>

<body>
    <div class="card">
        <h2>Token Transfer Result</h2>
        <button id="connectWallet">Connect to MetaMask</button>
        <input type="text" id="accountAddress" placeholder="Enter Account Address">
        <button id="getBalance">Get Balance</button>
        <div id="balance">Balance will be shown here</div>
    </div>

    <script src="../resources/js/viewToken.js"></script>
</body>

</html>